@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  font-family: "Fira Code", monospace;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
