nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #fffffffb;
  box-shadow: 0px 6px 20px #0000000f;
  z-index: 20;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 20px;
  font-family: "Fira Code", monospace;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.logo a {
  text-decoration: none;
}
