#index,
.index-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#index {
  height: calc(100% - 50px);
  margin-top: 50px;
}
#people.lozad {
  width: 100%;
}

.background {
  margin: 3%;
  display: flex;
  justify-content: center;
}
